<!--<!DOCTYPE html>
<html>

    <head>
        <title>Anime</title>
    </head>

    <body>
        <h1>Home</h1>
        <a href="/register/">Register<br></a>
        <a href="/anime/">List of anime</a>
    </body>

</html> -->
{% extends 'base.html' %}
{% block body_block %}
<div class="hero-unit">
    <h1>Animesekai</h1>
    
</div>

<div class="row-fluid">
    <div class="span6">
     <!--<a href="/register/">Register<br></a>
     <a href="/anime/">List of anime<br></a>
     <a href="/login/">Login</a>-->
     

<strong> Аниме ( ср., нескл., яп. アニメ (инф.) , от англ. animation — анимация) — японская анимация. В отличие от мультфильмов других стран, предназначенных в основном для просмотра детьми, бо́льшая часть выпускаемого аниме рассчитана на подростковую и взрослую аудитории, и во многом за счёт этого имеет высокую популярность в мире. Аниме отличается характерной манерой отрисовки персонажей и фонов. Издаётся в форме телевизионных сериалов, а также фильмов, распространяемых на видеоносителях или предназначенных для кинопоказа. Сюжеты могут описывать множество персонажей, отличаться разнообразием мест и эпох, жанров и стилей.
Источниками для сюжета аниме-сериалов чаще всего являются: манга (японские комиксы), ранобэ (лайт-новел), или компьютерные игры (как правило, в жанре visual novel). При экранизации обычно сохраняется графический стиль и другие особенности оригинала. Реже используются другие источники, например, произведения классической литературы. Есть также аниме, имеющие полностью оригинальный сюжет (в этом случае уже само аниме может послужить источником для создания по нему книжных и манга-версий). </strong>




</div>
 
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
